// Description is overwritten with user specific flags
params {
    config_profile_description = 'Cambridge HPC cluster profile.'
    // FIXME EmelineFavreau was the last to edit this
    config_profile_contact     = 'Boris Iliev Vasilev (biv22@cam.ac.uk)'
    config_profile_url         = "https://docs.hpc.cam.ac.uk/hpc"
    partition                  = 'icelake-himem'
    project                    = 'MRC-BSU-SL2-CPU'
}

// Description is overwritten with user specific flags
singularity {
    enabled    = true
    autoMounts = true
}

process {
  executor       = 'slurm'
  clusterOptions = "-A ${params.project} -p ${params.partition}"
  withLabel: short {
    clusterOptions = "-A ${params.project} -p ${params.partition} --qos INTR"
  }
  withLabel: short_exclusive {
    cpus = 76
    clusterOptions = "-A ${params.project} -p ${params.partition} --exclusive --qos INTR"
  }
}
